body{
 background-image: url('./../assets/img/background.jpg');  
 background-repeat: no-repeat;
 background-size: cover;  
 background-position: center center;
 background-attachment: fixed;
}
.container{
  min-height: 500px;
  display: grid;
  
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;

  
}
.img-container{
    height: 50vh;
margin-left: 35vh;
  width: 50vh;
 
  background-size: 150vh;
  border: 10px double #000;

}
