body {
  background-image: url("./../assets/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

h1{
    color: white;


}
h3{
    color: red;
    
}

.container {
  min-height: 50vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap:-5vh;
}
.img-container {
  height: 40vh;
  margin-left: 36vh;
  width: 40vh;
  border: 10px double #000;
}
.buttonAdd-products {
  height: 10vh;
  width: 15vh;
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
  border: 2px solid;
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
}
