@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* buttons */
.next {
  right: 0%;
  top: 50%;
}
.prev {
  left: 0%;
  top: 50%;
  
}

.arrow {
  background-color: #fff;
  position: absolute;
 margin-left: 20vh;
  z-index: 10;
}
.imgSlider{
  background-color: red;
}