body{
 background-image: url('./../assets/img/background.jpg');  
 background-repeat: no-repeat;
 background-size: cover;  
 background-position: center center;
 background-attachment: fixed;
}

.container{

margin-top: 50vh;
background-color: grey;
opacity: 0.9;


}
.carousel{
    position:relative;
    padding:0;
    margin:0;
    
   

    
}
.carousel-img{
    width: 630px;
    height: 380px;
    border-radius: 15px;
   


    
}
